.fundoCadastro {
    background-image: url("https://ik.imagekit.io/yijg14v4w/Blog_pessoal_React/keyboard-dried-leaves.jpg");
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
  }